{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block title %}Network - {{ title }}{% endblock %}
{% block description %}{{ block_description }}{% endblock %}

{% block navbar %}

  {% include "navbar.html" %}

{%- endblock navbar %}


{% block sidebar -%}

  {% include 'sidebar.html' %}

  {% include 'sidebar_menu.html' %}

{%- endblock sidebar %}


{% block content_header -%}
  {% include 'network/content_header.html' %}
{%- endblock content_header %}

{% block content -%}
<script type = "text/javascript" language = "javascript">
    $("#Unassign").live("click", function(){                       
      $("#button").load($("#text").attr("href"));         
      return false;
    });
</script>
     <!--{{ subnets }}<hr />
     {{ networks }} <hr />
     {{ ports }}
     -->
     {{ server }}
    <!-- Main content -->
      <div class="row">
        <form class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-xs-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Floating IP Address</h3>
            </div>
            <div class="box-body">
              <span style="font-size: 167%;">
                {{ floatingip.floatingips[0].floating_ip_address }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Server</h3>
            </div>
            <div class="box-body">
              {% if floatingip.floatingips[0]['port_id'] %}
                <h3>
                  {% set server_name = nova.servers.get(neutron.list_ports(id=floatingip.floatingips[0]['port_id']).ports[0]['device_id']).name %}
                  {% set server_id = nova.servers.get(neutron.list_ports(id=floatingip.floatingips[0]['port_id']).ports[0]['device_id']).id %}
                  {{ server_name }}
                </h3>
              {% else %}
                <select name="server" class="form-control">
                {% for server in servers %}
                    <option value="{{ server.id }}">{{ server.name }}</option>
                {% endfor %}
                </select>
                {% if form.server.errors %}
                  <br />
                  <span class="text-red">{% for error in form.server.errors %} {{ error }} {% endfor %}</span>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Action</h3>
            </div>
            <div class="box-body">
              {% if floatingip.floatingips[0]['port_id'] %}
                <a type="button" class="btn btn-primary" id="button"
                href="{{ url_for('network.unassign_floatingip', id=floatingip.floatingips[0]['id'], server_id=server_id ) }}">
                  Unassign
                </a>
              {% else %}
                <button type="submit" class="btn btn-primary">Reassign</button>
                <button class="btn btn-danger">Release</button>
              {% endif %}  
            </div>
          </div>
        </div>
        </form>
      </div>
      <!-- /.row -->
{%- endblock content %}