{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block title %}Network - {{ title }}{% endblock %}
{% block description %}{{ block_description }}{% endblock %}

{% block navbar %}

  {% include "navbar.html" %}

{%- endblock navbar %}


{% block sidebar -%}

  {% include 'sidebar.html' %}

  {% include 'sidebar_menu.html' %}

{%- endblock sidebar %}


{% block content_header -%}
  {% include 'network/content_header.html' %}
{%- endblock content_header %}

{% block content -%}
     <!--{{ subnets }}<hr />
     {{ networks }} <hr />
     {{ ports }}
     -->
    <!-- Main content -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Floating IPs</h3>
            </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>IP Address</th>
                  <th>Server</th>
                  <th>Mapped Private IP</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for floatingip in floatingips.floatingips %}
                {% if floatingip['tenant_id'] == sess.get_project_id() %}
                <tr>
                  <td>{{ floatingip['floating_ip_address'] }} </td>
                  <td>
                    {% if floatingip['port_id'] %}
                    {% set server_name = nova.servers.get(neutron.list_ports(id=floatingip['port_id']).ports[0]['device_id']).name %}
                    {% set server_id = nova.servers.get(neutron.list_ports(id=floatingip['port_id']).ports[0]['device_id']).id %}
                    {{ server_name }}
                    {% endif %}
                  </td>
                  <td>
                    {% if floatingip['port_id'] %}
                    {{ floatingip['fixed_ip_address'] }}
                    {% endif %}
                  </td>
                  <td> {{ floatingip['status'] }} </td>
                  <td>
                    <div style="margin-bottom:10px;" class="btn-group">
                      <button type="button" class="btn btn-default">
                        <a style="color:black" href="#">Action</a>
                      </button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{{ url_for('network.assign_floatingip', id=floatingip['id'] ) }}">
                            Reassign
                          </a>
                        </li>
                        {% if floatingip['port_id'] %}
                        <li>
                          <a href="{{ url_for('network.unassign_floatingip', id=floatingip['id'], server_id=server_id ) }}">
                              Unassign
                          </a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a style="color:red" href="#">Release</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>IP Address</th>
                  <th>Server</th>
                  <th>Mapped Private IP</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Private Subnets</h3>
            </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Subnet</th>
                  <th>Network</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for subnet in subnets.subnets %}
                {% if subnet['tenant_id'] == sess.get_project_id() %}
                <tr>
                  <td> {{ subnet['name'] }} </td>
                  <td> {{ subnet['cidr'] }} </td>
                  <td> {{ neutron.list_networks(id=subnet['network_id']).networks[0].name }} </td>
                  <td>
                    <div style="margin-bottom:10px;" class="btn-group">
                      <button type="button" class="btn btn-default">
                        <a style="color:black" href="{{ url_for('network.edit_subnet', id=subnet['id']) }}">Edit</a>
                      </button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('network.edit_subnet', id=subnet['id']) }}">Edit</a></li>
                        <li class="divider"></li>
                        <li><a style="color:red" href="#">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Subnet</th>
                  <th>Network</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{%- endblock content %}