{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}

  {% include "navbar.html" %}

{%- endblock navbar %}


{% block sidebar -%}

  {% include 'sidebar.html' %}
  
  {% include 'sidebar_menu.html' %}

{%- endblock sidebar %}


{% block content_header -%}
  {% include 'content_header.html' %}
{%- endblock content_header %}


{% block content -%}

    <!-- Main content --> 
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Provider</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for provider in providers %}
                <tr>
                  <td>{{ provider.id }}</td>
                  <td>{{ provider.provider }}</td>
                  <td>{{ provider.name }}</td>
                  <td>
                    <a href="{{ url_for('main.select_provider', id=provider.id) }}">Select</a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Provider</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{%- endblock content %}
