{% if current_user.role.name == "user" or current_user.role.name == "admin" %}
<!-- User Menu -->
<ul class="sidebar-menu">
  <li class="header">Main Menu</li>
    <li class="active">
      <a href="{{ url_for('main.index') }}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>
  <!-- Server Management Menu -->
  <li class="treeview">
    <a href="{{ url_for('server.index') }}">
      <i class="fa fa-server"></i>
      <span>Servers</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="">
          <i class="fa fa-plus"></i>
          Create Server
        </a>
      </li>
      <li>
        <a href=" {{ url_for('server.list_servers') }} ">
          <i class="fa fa-list"></i>
          List Servers
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}

{% if current_user.role.name == "user" or current_user.role.name == "admin" %}
<!-- Image Management Menu -->
<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-picture-o"></i>
      <span>Images</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('image.index') }}">
          <i class="fa fa-plus"></i>
          Create Image
        </a>
      </li>
      <li>
        <a href="{{ url_for('image.list_images') }}">
          <i class="fa fa-list"></i>
          List Images
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}

{% if current_user.role.name == "user" or current_user.role.name == "admin" %}
<!-- Networking Management Menu -->
<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-arrows"></i>
      <span>Networking</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('network.index') }}">
          <i class="fa fa-plus"></i>
          Create Network
        </a>
      </li>
      <li>
        <a href="{{ url_for('network.index') }}">
          <i class="fa fa-list"></i>
          List Network
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}

{% if current_user.role.name == "user" or current_user.role.name == "admin" %}
<!-- Security Management Menu -->
<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-shield"></i>
      <span>Security</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('security.index') }}">
          <i class="fa fa-plus"></i>
          List Security
        </a>
      </li>
      <li>
        <a href="{{ url_for('security.index') }}">
          <i class="fa fa-list"></i>
          List Security
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}

{% if current_user.role.name == "admin" %}
<!-- Admin Menu -->
<ul class="sidebar-menu">
<li class="header">Admin Menu</li>
  <li>
    <a href="{{ url_for('admin.index') }}">
      <i class="fa fa-dashboard"></i> <span>Admin Dashboard</span>
    </a>
  </li>
  <!-- Admin User management menu -->
  <li class="treeview">
    <a href="#">
      <i class="fa fa-users"></i>
      <span>Users</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('admin.create_user_admin') }}">
          <i class="fa fa-user-plus"></i>
          Create User
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.list_users') }}">
          <i class="fa fa-list"></i>
          List Users
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-user-secret"></i>
          List Resellers
        </a>
      </li>
    </ul>
  </li>
  
  <!-- Provider management menu -->
  <li class="treeview">
    <a href="#">
      <i class="fa fa-cloud"></i>
      <span>Providers</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('admin.create_provider_admin') }}">
          <i class="fa fa-cloud-upload"></i>
          Create Provider
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.list_providers') }}">
          <i class="fa fa-list"></i>
          List Providers
        </a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}