{% extends "base_headless.html" %}

{% block title %}<title>dash-stack | Register </title>{% endblock title %}

{% block content %}
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b> - </b>stack</a>
  </div>
  <div class="login-box-body">
    <p class="lead">
        Thank you for registering a new account with us.
        Please check your email for information.
    </p>
    <a href="/" class="text-center">Let's go back to home page.</a><br />
    <a href="/auth/login/" class="text-center">Take me to login page.</a>
  </div>

</div>

{% endblock content %}