{% extends "base_headless.html" %}

{% block title %}<title>dash-stack | Register </title>{% endblock title %}

{% block content %}
<div class="register-box">
  <div class="register-logo">
    <a href="{{ SITE_URL }}"><b> - </b>stack</a>
  </div>

  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-bullhorn"></i>

      <h3 class="box-title">Registerd</h3>
    </div>
    <div class="callout callout-success">
    <h4>Thank you for registering new account with us!</h4>

    <p>Please check your email for further details.</p>
    </div>
  </div>

</div>

{% endblock content %}