{% extends "adminlte/base_without_nav.html" %}

{% block title %}Log In{% endblock %}
{% block description %}Log into your account!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>-</strong> stack
    </div>
    <div class="login-box-body">
      <p>Log into your account!</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {# Render the login form. #}
      <form method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="form-group has-feedback">
          <input type="email" name="email" placeholder="Email" required="true" class="form-control">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" placeholder="Password" required="true" class="form-control">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-0">
            <p><input type="checkbox" name="remember_me" /> Remember me?</p>
          </div>
          <div class="col-xs-6 col-xs-offset-0">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-xs-12 text-center">
          <hr />
          <h4 class="box-title"> If you do not have account?</h4>
          <a href="{{ url_for('auth.register') }}">
            <button type="button" class="btn btn-block btn-danger btn-flat">Register Here</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
