{% extends "adminlte/base_without_nav.html" %}

{% block title %}Welcome to Page of Forgotten Passwords{% endblock %}
{% block description %}Page of Forgotten Passwords{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>-</strong> stack
    </div>
    <div class="login-box-body">
      <p>Enter your email address:</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {# Render the password reset request form. #}
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group has-feedback">
          <input type="email" name="email" placeholder="Email" required="true" class="form-control">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0">
            <button type="submit" class="btn btn-block btn-primary">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
