{% extends "adminlte/base_without_nav.html" %}

{% block title %}Register{% endblock %}
{% block description %}Register a new account{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>-</b>stack</a>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Register a new account</p>
          {# Display errors (if there are any). #}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        {# Render the login form. #}
        <form action="{{ url_for('auth.register') }}" method="post" name="register">
        {{ form.hidden_tag() }}
          <div class="form-group has-feedback">
            <input type="email" name="email" class="form-control" placeholder="Email" value="{{ request.form['email'] }}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {% if form.email.errors %}
              <span class="text-red">{% for error in form.email.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback">
            <input type="text" name="username" class="form-control" placeholder="User name" value="{{ request.form['username'] }}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            {% if form.username.errors %}
              <span class="text-red">{% for error in form.username.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback">
            <input type="text" name="full_name" class="form-control" placeholder="Full name" value="{{ request.form['full_name'] }}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% if form.password.errors %}
              <span class="text-red">{% for error in form.password.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password2" class="form-control" placeholder="Retype password">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            {% if form.password2.errors %}
              <span class="text-red">{% for error in form.password2.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-0">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="terms"> I agree to the <a href="#">terms</a>
                </label>
                {% if form.terms.errors %}
                  <br />
                  <span class="text-red">{% for error in form.terms.errors %} {{ error }} {% endfor %}</span>
                {% endif %}
              </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat" value="Register">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <!--
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
            Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
            Google+</a>
        </div>
        -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <hr />
            <a href="{{ url_for('auth.login') }}">I already have a membership</a>
          </div>
        </div>
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

{% endblock %}
