{% extends "adminlte/base_without_nav.html" %}

{% block title %}Welcome back to Page of Forgotten Passwords{% endblock %}
{% block description %}Page of Forgotten Passwords{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>-</strong> stack
    </div>
    <div class="login-box-body">
      <p>Change your password:</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {# Render the password reset request form. #}
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group has-feedback">
          <input type="email" name="email" placeholder="Email" required="true" class="form-control">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          {% if form.email.errors %}
            <span class="text-red">{% for error in form.email.errors %} {{ error }} {% endfor %}</span>
          {% endif %}
        </div>
          <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="Your New Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% if form.password.errors %}
              <span class="text-red">{% for error in form.password.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password2" class="form-control" placeholder="Retype Your New Password">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            {% if form.password2.errors %}
              <span class="text-red">{% for error in form.password2.errors %} {{ error }} {% endfor %}</span>
            {% endif %}
          </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0">
            <button type="submit" class="btn btn-block btn-primary">Change</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
