{% extends "adminlte/base_without_nav.html" %}

{% block title %}Confirm Account{% endblock %}
{% block description %}You have not confirmed your account!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>-</strong> stack
    </div>
    <div class="login-box-body">
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <h3>Hello {{ current_user.username }}</h3>
      <h4>You have not confirmed your account yet!</h4>
      <p>Before accessing this page, you need to confirm your account.
      Please check your email inbox and click on confirmation link.</p>
      <p>If you have not received confirmation email:</p>
      <a href="{{ url_for('auth.resend_confirmation') }}">
        <button type="button" class="btn btn-primary">Re-Send Confirmation</button>
      </a>
    </div>
  </div>

{% endblock %}
