{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Admin - {{ title }}{% endblock %}
{% block description %}{{ block_description }}{% endblock %}

{% block navbar %}

  {% include "navbar.html" %}

{%- endblock navbar %}


{% block sidebar -%}

  {% include 'sidebar.html' %}

  {% include 'sidebar_menu.html' %}

{%- endblock sidebar %}


{% block content_header -%}
  {% include 'admin/content_header.html' %}
{%- endblock content_header %}

{% block content -%}
    <!-- Main content --> 
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="register-box-body">
                <form class="form-horizontal" action="" method="post">
                {{ form.hidden_tag() }}
                  <div class="form-group has-feedback">
                    <select type="select" name="provider" class="form-control">
                      <option value="openstack" selected >OpenStack</option>
                      <option value="other" disabled>Other</option>
                    </select>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% if form.provider.errors %}
                      <span class="text-red">{% for error in form.provider.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="name" class="form-control" placeholder="Name your provider" value="{{ request.form['name'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.name.errors %}
                      <span class="text-red">{% for error in form.name.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="region" class="form-control" placeholder="Name of the region" value="{{ request.form['region'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.region.errors %}
                      <span class="text-red">{% for error in form.region.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="username" class="form-control" placeholder="Admin user name" value="{{ request.form['username'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.username.errors %}
                      <span class="text-red">{% for error in form.username.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="project_name" class="form-control" placeholder="Project name" value="{{ request.form['project_name'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.project_name.errors %}
                      <span class="text-red">{% for error in form.project_name.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="default_role" class="form-control" placeholder="Default role name" value="{{ request.form['default_role'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.default_role.errors %}
                      <span class="text-red">{% for error in form.default_role.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="api_version" class="form-control" placeholder="API Version" value="{{ request.form['api_version'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.api_version.errors %}
                      <span class="text-red">{% for error in form.api_version.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="url" class="form-control" placeholder="API URL" value="{{ request.form['url'] }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.url.errors %}
                      <span class="text-red">{% for error in form.url.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {% if form.password.errors %}
                      <span class="text-red">{% for error in form.password.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-0">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="enabled"> Enabled?
                        </label>
                        {% if form.enabled.errors %}
                          <br />
                          <span class="text-red">{% for error in form.enabled.errors %} {{ error }} {% endfor %}</span>
                        {% endif %}
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat" value="Update">Create</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form> 
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{%- endblock content %}