{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Admin - {{ title }}{% endblock %}
{% block description %}{{ block_description }}{% endblock %}

{% block navbar %}

  {% include "navbar.html" %}

{%- endblock navbar %}


{% block sidebar -%}

  {% include 'sidebar.html' %}

  {% include 'admin/sidebar_menu.html' %}

{%- endblock sidebar %}


{% block content_header -%}
  {% include 'admin/content_header.html' %}
{%- endblock content_header %}

{% block content -%}
    <!-- Main content --> 
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="register-box-body">
                <form class="form-horizontal" action="" method="post">
                {{ form.hidden_tag() }}
                  <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder="New Email" value=" {{ user.email }} ">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% if form.email.errors %}
                      <span class="text-red">{% for error in form.email.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="username" class="form-control" placeholder="User name" value="{{ user.username }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if form.username.errors %}
                      <span class="text-red">{% for error in form.username.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" name="full_name" class="form-control" placeholder="Full name" value="{{ user.full_name}}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                    <label>User Role</label>
                    <select name="role" class="form-control">
                      {% for role in roles %}
                      <option value="{{ role.id }}" {% if role.id == user.role_id %} selected {% endif %} >{{ role.name }}</option>
                      {% endfor %}
                    </select>
                    <span class="glyphicon glyphicon-signal form-control-feedback"></span>
                    {% if form.role.errors %}
                      <span class="text-red">{% for error in form.role.errors %} {{ error }} {% endfor %}</span>
                    {% endif %}
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-0">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="confirmed" {% if user.confirmed %} checked  {% endif %} > Confirmed?
                        </label>
                        {% if form.confirmed.errors %}
                          <br />
                          <span class="text-red">{% for error in form.confirmed.errors %} {{ error }} {% endfor %}</span>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-0">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="suspended" {% if user.suspended %} checked  {% endif %} > Suspended?
                        </label>
                        {% if form.suspended.errors %}
                          <br />
                          <span class="text-red">{% for error in form.suspended.errors %} {{ error }} {% endfor %}</span>
                        {% endif %}
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat" value="Update">Update</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form> 
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="register-box-body">
              <a href="{{ url_for('.create_user_provider_admin', id=user.id) }}">
              <button class="btn btn-primary btn-flat">Create Account on Provider</button>
            </div>
          </div>
        </div>
      </div>

{%- endblock content %}