<ul class="sidebar-menu">
<li class="header">Admin Menu</li>
  <li>
    <a href="{{ url_for('admin.index') }}">
      <i class="fa fa-dashboard"></i> <span>Admin Dashboard</span>
    </a>
  </li>
  <!-- User management menu -->
  <li class="treeview">
    <a href="#">
      <i class="fa fa-users"></i>
      <span>Users</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('admin.create_user_admin') }}">
          <i class="fa fa-user-plus"></i>
          Create User
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.list_users') }}">
          <i class="fa fa-list"></i>
          List Users
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-user-secret"></i>
          List Resellers
        </a>
      </li>
    </ul>
  </li>
  
  <!-- Provider management menu -->
  <li class="treeview">
    <a href="#">
      <i class="fa fa-cloud"></i>
      <span>Providers</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ url_for('admin.create_provider_admin') }}">
          <i class="fa fa-cloud-upload"></i>
          Create Provider
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.list_providers') }}">
          <i class="fa fa-list"></i>
          List Providers
        </a>
      </li>
    </ul>
  </li>
</ul>