<ul class="sidebar-menu">
<li class="header">Admin Menu</li>
  <li>
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Admin Dashboard</span>
    </a>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-users"></i>
      <span>Users</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="">
          <i class="fa fa-user-plus"></i>
          Create User
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-list"></i>
          List Users
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-user-secret"></i>
          List Resellers
        </a>
      </li>
    </ul>
  </li>
</ul>